<div class="item-sheet upgrade-sheet">
  <header class="window-header flexrow">
    <h4 class="window-title">{{name}}</h4>
    <nav class="window-controls">
      <a class="configure-upgrade" title="Configure Upgrade" aria-label="Configure Upgrade">
        <i class="fas fa-cog"></i>
      </a>
      {{window-controls}}
    </nav>
  </header>

  <header class="item-header">
    <h3 class="item-name">{{name}}</h3>
  </header>
  <div class="item-details">
    <p><strong>Description:</strong> {{system.description}}</p>
    <p><strong>Cost (XP):</strong> {{system.costXp}}</p>
    <p><strong>Effect:</strong> {{system.effect}}</p>
  </div>
</div>
